body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.blue-background {
    background-color: blue;
    color: white;
    padding: 20px;
}

.university-logo {
    text-align: center;
}

.profile-picture {
    float: right;
    margin-right: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.content {
    background-color: white;
    padding: 20px;
}

.buttons {
    text-align: center;
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: blue;
    color: white;
    border: 2px solid black; /* Додаємо чорну обводку */
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s; /* Додаємо плавну анімацію переходу */
}

.rounded-button:hover {
    background-color: yellow; /* Колір при наведенні */
    border-color: blue; /* Колір обводки при наведенні */
}